*{
    margin: 0;
    padding: 0;
}
/* 
Inca Gold (#BD7F37FF) and Scarlet Sage (#A13941FF)
*/
:root{
    --colour-primary: #A13941FF;
    --colour-secondary: #BD7F37FF;
}

body{
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    background-color: var(--colour-secondary);
}
.page{
    margin-top: 1vh;
    width: 85vw;
    height: 99vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    background-color: var(--colour-primary);

    clip-path: polygon(100% 0, 100% 90%, 50% 98%, 0 90%, 0 0);
}
button{
    padding: .3rem;
    cursor: pointer;
    min-width: 3rem;
    outline: none;
}


/* End of race */
#raceEnd{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    background-image: linear-gradient(to bottom, var(--colour-secondary) 50%, 
    var(--colour-primary) 50%);
}
.raceEnd__item{
    box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.05);
    background-color: var(--colour-primary);
    border-radius: 10px;
    border: .2rem solid var(--colour-secondary);
    padding: .5rem;
}
.raceEnd__item > *{
    font-weight: 400;
    margin: .5rem;
    color: var(--colour-secondary);
}
.raceEnd__title{
    font-size: 1.3rem;
}
.raceEnd__info--container{
    width: 20vw;
    display: flex;
    justify-content: space-between;
}
.raceEnd__fastestLap--info, .raceEnd__lowestOvr--info{
    font-size: 1rem;
    width: 45%;
}

/* Timer section and controls */
.controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 36vw;
    height: 16vh;
    padding: 2rem;
    background-color: var(--colour-secondary);
    color: var(--colour-primary);
    border-radius: 20px;
    position: relative;

    border: .5rem solid var(--colour-primary);
    box-shadow: 0 0 0 .15rem var(--colour-secondary);
}

.timer__container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--colour-primary);
    width: 25vw;
    height: 9vh;
    border-radius: 20px;

    position: relative;
}

.buttons__container{
    position: absolute;
    bottom: -17%;
    background-color: var(--colour-secondary);
}
.buttons__container > button{
    /* margin: .3rem; */
    background-color: var(--colour-primary);
    color: var(--colour-secondary);
    border: none;
    padding: .5rem .8rem;
    border-radius: 5px;
}

#runner--name{
    background-color: transparent;
    border: .15rem solid var(--colour-primary);
    color: transparent;
    color: var(--colour-primary);
    border-radius: 5px;
    font-size: .9rem;
    padding: .3rem;
    outline: none;
    opacity: .7;
    transition: all .2s;
}
#runner--name:focus{
    opacity: 1;
    transform: scale(1.05);
    border-width: .2rem;
}

#runner--name::placeholder{
    color: var(--colour-primary);
}

/* Runner table */
.timers{
    margin-bottom: 9vh;
    height: 35vh;
    width: 60vw;
    overflow-y: scroll;
    background-color: var(--colour-secondary);
    
    border: .5rem solid var(--colour-primary);
    box-shadow: 0 0 0 .2rem var(--colour-secondary);
}
#lap-time__container{
    width: 100%;
    max-height: 30vh;
    text-align: center;
    position: relative;
}
::-webkit-scrollbar{
    background-color: var(--colour-primary);
    width: .35vw;
}
::-webkit-scrollbar-thumb{
    background-color: var(--colour-secondary);
    border-radius: 5px;
}
th{
    border-bottom: .2rem solid var(--colour-primary);
    font-size: 1.1rem;
    padding: .95rem;
    position: sticky;
    top: 0;
    font-weight: 900;
    background-color: var(--colour-secondary);
    color: var(--colour-primary);
}
tr{
    font-size: 1.2rem;
    font-weight: 700;
    height: 2rem;
    color: var(--colour-primary);
}

tr > button {
    background-color: var(--colour-secondary);
    color: var(--colour-primary);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin: .4rem;
}
tr:nth-of-type(odd){
    color: var(--colour-secondary);
    background-color: var(--colour-primary);
}
tr:nth-of-type(even){
    background-color: var(--colour-secondary);
}
tr:nth-of-type(even) > button{
    color: var(--colour-secondary);
    background-color: var(--colour-primary);
}