*{
    margin: 0;
    padding: 0;
}
/* 
Inca Gold (#BD7F37FF) and Scarlet Sage (#A13941FF)
*/
:root{
    --colour-primary: #A13941FF;
    --colour-secondary: #BD7F37FF;
}

body{
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    background-color: var(--colour-secondary);
}
.page{
    margin-top: 5vh;
    width: 110rem;
    height: 95vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    background-color: var(--colour-primary);

    clip-path: polygon(100% 0, 100% 90%, 50% 98%, 0 90%, 0 0);
}
button{
    padding: .3rem;
    cursor: pointer;
    min-width: 3rem;
    outline: none;
}
/* Timer section and controls */
.controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 45rem;
    height: 10rem;
    padding: 2rem;
    background-color: var(--colour-secondary);
    color: var(--colour-primary);
    border-radius: 20px;
    position: relative;

    border: .5rem solid var(--colour-primary);
    box-shadow: 0 0 0 .15rem var(--colour-secondary);
}

.timer__container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--colour-primary);
    width: 30rem;
    height: 6rem;
    border-radius: 20px;

    position: relative;
}

.buttons__container{
    position: absolute;
    bottom: -17%;
    background-color: var(--colour-secondary);

    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.timer--radio{
    display: none;
}
#timer-start:checked ~ #timer-label-start{
    opacity: .5;
    transform: scale(.95);
    cursor: unset;
}
#timer-stop:checked ~ #timer-label-stop{
    opacity: .5;
    transform: scale(.95);
    cursor: unset;
}
.timer--label{
    cursor: pointer;
    background-color: var(--colour-primary);
    color: var(--colour-secondary);
    border: none;
    padding: .4rem 1.3rem;
    border-radius: 5px;
}

#runner--name{
    background-color: transparent;
    border: .15rem solid var(--colour-primary);
    color: transparent;
    color: var(--colour-primary);
    border-radius: 5px;
    font-size: .9rem;
    padding: .3rem;
    outline: none;
    opacity: .5;
    transition: all .2s;
}
#runner--name:focus{
    opacity: 1;
    transform: scale(1.05);
}

#runner--name::placeholder{
    color: var(--colour-primary);
}

/* Runner table */
.timers{
    height: 21rem;
    width: 60rem;
    overflow-y: scroll;
    background-color: var(--colour-secondary);
    
    border: .5rem solid var(--colour-primary);
    box-shadow: 0 0 0 .2rem var(--colour-secondary);
}
#lap-time__container{
    width: 100%;
    max-height: 100%;
    text-align: center;
    position: relative;
}
::-webkit-scrollbar{
    display: none;
}

th{
    border-bottom: .2rem solid var(--colour-primary);
    font-size: 1.1rem;
    padding: .95rem;
    position: sticky;
    top: 0;
    font-weight: 900;
    background-color: var(--colour-secondary);
    color: var(--colour-primary);
}
tr{
    font-size: 1.2rem;
    font-weight: 700;
    height: 2rem;
    color: var(--colour-primary);
}

tr > button {
    background-color: var(--colour-secondary);
    color: var(--colour-primary);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin: .4rem;
}
tr:nth-of-type(odd){
    color: var(--colour-secondary);
    background-color: var(--colour-primary);
}
tr:nth-of-type(even){
    background-color: var(--colour-secondary);
}
tr:nth-of-type(even) > button{
    color: var(--colour-secondary);
    background-color: var(--colour-primary);
}

/* 1760 */
@media screen and (max-width: 1760px){
    .page{
        width: 100vw;
    }
}

@media screen and (max-width: 1000px){
    .page{
        height: 100vh;
        margin: 0;
        clip-path: unset;
    }
    .timers{
        width: 95%;
    }
    .controls{
        width: 95%;
        padding: 2rem 0;
        margin: 0;
    }
}

@media screen and (max-width: 530px){
    .controls, .timers{
        border: none;
        box-shadow: none;
        width: 96%;
    }
    .buttons__container{
        width: 55%;
    }
    .timer__container{
        width: 80%;
    }
    th{
        font-size: .9rem;
        padding: .5rem;
        border-bottom-width: .15rem;
    }
    tr{
        font-size: .9rem;
    }
}
@media screen and (max-width: 420px){
    th{
        font-size: .8rem;
    }
    tr{
        font-size: .7rem;
    }
    tr > button{
        font-size: .8rem;
    }
}